*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.to-top {
  position: fixed;
  z-index: 99;
  right: 29px;
  bottom: 500px;
  display: none;
  width: 43px;
  height: 86px;
  color: #fff;
  font-size: 34px;
  text-align: center;
  line-height: 86px;
  background-image: url(../img/Backtotop.png);
  background-size: cover;
  cursor: pointer;
  opacity: 0.3;
  transition: all 0.3s; }

.to-top:hover {
  opacity: 1; }

.to-top--fixed {
  display: inline-block; }

.container {
  max-width: 1250px;
  margin: 0 auto; }

.main-head {
  min-height: 960px;
  background-size: cover;
  background-position: 72% 100%;
  position: relative; }
  .main-head::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    background-image: linear-gradient(to bottom, rgba(29, 21, 15, 0), #1d150f);
    height: 237px; }
  .main-head .main {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .main-head .main .menu {
      text-align: center;
      padding-top: 45px;
      padding-bottom: 75px;
      position: relative; }
      .main-head .main .menu .menu__icon {
        display: none;
        width: 18px;
        height: 12px;
        position: relative;
        cursor: pointer; }
        .main-head .main .menu .menu__icon span {
          display: block;
          position: absolute;
          height: 2px;
          width: 100%;
          background: #ffffff;
          left: 0;
          transform: rotate(0deg);
          transition: .25s ease-in-out; }
        .main-head .main .menu .menu__icon span:nth-child(1) {
          top: 0px; }
        .main-head .main .menu .menu__icon span:nth-child(2) {
          top: 5px; }
        .main-head .main .menu .menu__icon span:nth-child(4) {
          top: 10px; }
      .main-head .main .menu .menu__links-item {
        display: inline-block;
        color: #ffffff;
        font-family: 'RaleweyBold',sans-serif;
        font-size: 18px;
        line-height: 21px;
        text-decoration: none;
        text-transform: uppercase;
        padding: 0 20px;
        margin-top: 41px; }
      .main-head .main .menu .menu__links-item:hover {
        color: #e2e6e7; }
    .main-head .main .menu_state_open {
      background-color: rgba(0, 0, 0, 0.85); }
      .main-head .main .menu_state_open .menu__icon {
        width: 14px;
        line-height: 16px; }
        .main-head .main .menu_state_open .menu__icon span {
          width: 12px; }
        .main-head .main .menu_state_open .menu__icon span:nth-child(1) {
          width: 0%; }
        .main-head .main .menu_state_open .menu__icon span:nth-child(2) {
          transform: rotate(-45deg); }
        .main-head .main .menu_state_open .menu__icon span:nth-child(3) {
          transform: rotate(45deg);
          top: 5px; }
        .main-head .main .menu_state_open .menu__icon span:nth-child(4) {
          width: 0%; }
      .main-head .main .menu_state_open .menu__links {
        display: block; }
        .main-head .main .menu_state_open .menu__links .menu__links-item {
          margin-top: 23px; }
    @media screen and (max-width: 740px) {
      .main-head .main .menu__links {
        display: none; }
      .main-head .main .menu .menu__icon {
        display: inline-block; }
      .main-head .main .menu .menu__links {
        margin-top: 138px;
        height: 100vh;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.85);
        z-index: 1000;
        overflow: auto; }
      .main-head .main .menu .menu__links-item {
        display: block;
        padding: 10px 0;
        text-align: center;
        color: #ffffff; } }

@media screen and (max-width: 980px) {
  .main-head {
    min-height: 723px; } }

.headerlogo {
  margin-left: 95px;
  margin-top: 35px;
  margin-bottom: 80px;
  position: relative;
  z-index: 10; }
  .headerlogo .headerlogo_logo1 {
    margin-right: 58px;
    width: 100%;
    outline: none; }
    .headerlogo .headerlogo_logo1 img {
      max-width: 100px; }
  .headerlogo .headerlogo_logo2 {
    width: 100%;
    outline: none; }
    .headerlogo .headerlogo_logo2 img {
      max-width: 177px; }

.header_content {
  margin-left: 95px;
  display: block;
  max-width: 503px;
  position: relative;
  z-index: 10; }
  .header_content h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 68px;
    line-height: 69px;
    color: #ffffff;
    padding-bottom: 24px;
    letter-spacing: 2.6px; }
  .header_content p {
    margin-right: 39px;
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    line-height: 36px;
    color: #ffffff; }

@media screen and (max-width: 1200px) {
  .main .headerlogo {
    margin-left: 30px; }
  .main .header_content {
    margin-left: 30px; } }

@media screen and (max-width: 980px) {
  .main .headerlogo {
    margin-bottom: 15px;
    margin-top: 230px; } }

@media screen and (max-width: 970px) {
  .main .headerlogo .headerlogo_logo1 {
    margin-right: 16px; }
    .main .headerlogo .headerlogo_logo1 img {
      max-width: 76px; }
  .main .headerlogo .headerlogo_logo2 img {
    max-width: 128px; } }

@media screen and (max-width: 660px) {
  .main .headerlogo {
    margin-left: 15px; }
  .main .header_content {
    margin-left: 15px; }
    .main .header_content h1 {
      max-width: 60%;
      font-size: 32px;
      line-height: 40px;
      letter-spacing: 1.2px; } }

@media screen and (max-width: 535px) {
  .main .header_content p {
    font-size: 16px;
    line-height: 24px; } }

#culture {
  background-color: #e2e6e7; }
  #culture .culture__ingridients {
    position: relative; }
    #culture .culture__ingridients .culture__bg {
      position: absolute;
      top: 171px;
      right: 0; }
      #culture .culture__ingridients .culture__bg img {
        width: 500px;
        background-color: #e2e6e7; }
    #culture .culture__ingridients .culture__content {
      position: relative;
      background: #ffffff;
      top: -160px;
      left: 201px;
      max-width: 824px;
      padding: 60px 77px 92px 77px;
      box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.14); }
      #culture .culture__ingridients .culture__content h3 {
        font-family: 'PTSens',Arial, Helvetica, sans-serif;
        text-transform: uppercase;
        color: #f6921e;
        font-size: 24px;
        line-height: 29px; }
      #culture .culture__ingridients .culture__content h2 {
        margin-top: 12px;
        font-family: 'MontserratBold',sans-serif;
        font-size: 28px;
        line-height: 36px;
        color: #1d150f; }
      #culture .culture__ingridients .culture__content p {
        margin-top: 24px;
        font-family: 'MontserratRegular',sans-serif;
        font-size: 18px;
        line-height: 32px;
        color: #1d150f; }
    @media screen and (max-width: 1200px) {
      #culture .culture__ingridients .culture__content {
        left: 50px; } }
    @media screen and (max-width: 680px) {
      #culture .culture__ingridients .culture__content {
        padding: 40px 15px 56px 15px; } }
  @media screen and (max-width: 980px) {
    #culture .culture__ingridients .culture__bg {
      display: none; }
    #culture .culture__ingridients .culture__content {
      top: 0;
      left: 0;
      max-width: 100%; } }
  #culture .culture__video-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #e2e6e7;
    text-align: center; }
    #culture .culture__video-title h2 {
      font-family: 'MontserratBold',sans-serif;
      font-size: 28px;
      line-height: 36px;
      color: #1d150f;
      margin-bottom: 28px; }
    #culture .culture__video-title .video {
      height: 0;
      overflow: hidden;
      padding-bottom: 56.25%;
      position: relative;
      width: 90%; }
      #culture .culture__video-title .video iframe {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%; }
    #culture .culture__video-title .culture__video-content {
      max-width: 880px;
      margin-top: 28px;
      margin-bottom: 1	0px; }
      #culture .culture__video-title .culture__video-content p {
        font-family: 'MontserratRegular',sans-serif;
        font-size: 18px;
        line-height: 32px;
        color: #1d150f; }
  @media screen and (max-width: 980px) {
    #culture .culture__video-title {
      padding-top: 48px; } }

#stayingwild {
  background-color: #e2e6e7;
  padding-top: 40px;
  padding-bottom: 52px; }
  #stayingwild .stayingwild {
    display: flex;
    flex-direction: row;
    align-items: stretch; }
    #stayingwild .stayingwild .stayingwild__photo {
      width: 50%; }
      #stayingwild .stayingwild .stayingwild__photo img {
        height: 100%;
        max-width: 600px; }
    #stayingwild .stayingwild .stayingwild__content {
      background-color: #ffffff;
      padding: 40px 30px; }
      #stayingwild .stayingwild .stayingwild__content h3 {
        font-family: 'PTSens', sans-serif;
        text-transform: uppercase;
        color: #f6921e;
        font-size: 24px;
        line-height: 29px; }
      #stayingwild .stayingwild .stayingwild__content h2 {
        margin-top: 12px;
        font-family: 'MontserratBold',sans-serif;
        font-size: 28px;
        line-height: 36px;
        color: #1d150f; }
      #stayingwild .stayingwild .stayingwild__content p {
        margin-top: 24px;
        font-family: 'MontserratRegular',sans-serif;
        font-size: 18px;
        line-height: 32px;
        color: #1d150f; }
  #stayingwild .stayingwild__galary {
    padding-top: 30px;
    padding-bottom: 30px; }
    #stayingwild .stayingwild__galary .owl-carousel .owl-nav button.owl-prev, #stayingwild .stayingwild__galary .owl-carousel .owl-nav button.owl-next {
      position: absolute;
      top: 50%;
      margin-top: -18px;
      color: #ffffff;
      font-size: 30px;
      outline: none; }
    #stayingwild .stayingwild__galary .owl-prev {
      left: 20px; }
    #stayingwild .stayingwild__galary .owl-next {
      right: 20px; }
  @media screen and (max-width: 980px) {
    #stayingwild .stayingwild__galary {
      padding: 14px 15px 30px 15px; } }
  @media screen and (max-width: 600px) {
    #stayingwild .stayingwild {
      flex-direction: column;
      justify-content: center; }
      #stayingwild .stayingwild .stayingwild__content {
        width: 100%; }
      #stayingwild .stayingwild .stayingwild__photo {
        width: 100%; }
        #stayingwild .stayingwild .stayingwild__photo img {
          display: block;
          width: 100%;
          height: auto; } }

#value {
  padding: 76px 0;
  display: flex;
  align-items: stretch; }
  #value .imagebg {
    max-width: 20%;
    margin-top: 201px;
    margin-left: 193px;
    flex-basis: 30%; }
    #value .imagebg img {
      max-width: 86px; }
  #value .value__content {
    max-width: 820px;
    padding-left: 201px; }
    #value .value__content h2 {
      font-family: 'MontserratBold',sans-serif;
      font-size: 28px;
      line-height: 36px;
      color: #1d150f; }
    #value .value__content p {
      margin-top: 24px;
      font-family: 'MontserratRegular',sans-serif;
      font-size: 18px;
      line-height: 32px;
      color: #1d150f; }

@media screen and (max-width: 980px) {
  #value {
    padding: 56px 50px 80px 48px; }
    #value .imagebg {
      display: none; }
    #value .value__content {
      padding-left: 0; } }

#map {
  width: 100%;
  height: 940px; }

#team {
  background-color: #ffffff;
  padding-top: 120px; }
  #team .team__members {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: stretch; }
    #team .team__members .team__item .team__item-title {
      display: flex;
      justify-content: space-between; }
      #team .team__members .team__item .team__item-title .title {
        color: #1d150f;
        font-size: 24px;
        font-family: 'MontserratSemiBold', Arial, Helvetica, sans-serif;
        margin-top: 22px;
        line-height: 29px; }
        #team .team__members .team__item .team__item-title .title p {
          margin-top: 12px;
          text-transform: uppercase;
          font-family: 'PT Sans', sans-serif;
          font-size: 16px;
          line-height: 20px;
          color: #6f7a84; }
      #team .team__members .team__item .team__item-title .team__locate {
        position: relative;
        margin-top: 27px;
        color: #f6921e;
        font-family: 'PTSensItalic';
        font-style: italic;
        font-size: 18px;
        line-height: 23px;
        padding-right: 20px; }
      #team .team__members .team__item .team__item-title .team__locate ::before {
        content: "\f041";
        position: absolute;
        font-family: "FontAwesome";
        font-size: 35px;
        font-style: normal;
        display: block;
        line-height: 46px;
        left: -35px; }
    #team .team__members .team__item .team__form {
      margin-top: 24px;
      padding-left: 21px; }
      #team .team__members .team__item .team__form h4 {
        columns: #322d28;
        font-family: 'PT Sans',sans-serif;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px; }
        #team .team__members .team__item .team__form h4 span {
          font-weight: 400; }
    #team .team__members .team__item .team__goto {
      margin-top: 23px;
      padding-left: 21px; }
      #team .team__members .team__item .team__goto h4 {
        columns: #322d28;
        font-family: 'PT Sans',sans-serif;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px; }
      #team .team__members .team__item .team__goto p {
        columns: #322d28;
        font-family: 'PT Sans',sans-serif;
        font-size: 16px;
        line-height: 20px; }
    #team .team__members .team__item .team__notatwork {
      margin-top: 18px;
      max-width: 61%;
      padding-left: 21px;
      margin-bottom: 117px; }
      #team .team__members .team__item .team__notatwork h4 {
        columns: #322d28;
        font-family: 'PT Sans',sans-serif;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px; }
      #team .team__members .team__item .team__notatwork p {
        columns: #322d28;
        font-family: 'PT Sans',sans-serif;
        font-size: 16px;
        line-height: 20px; }
  #team .owl-carousel.off {
    display: flex; }
  #team .owl-carousel .owl-nav button.owl-prev, #team .owl-carousel .owl-nav button.owl-next {
    position: absolute;
    margin-top: 0;
    color: #154166;
    font-size: 12px;
    line-height: 40px;
    width: 40px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    bottom: -15px;
    outline: none; }
  #team .owl-prev {
    left: 45px; }
  #team .owl-next {
    right: 45px; }
  #team .owl-dots {
    position: absolute;
    bottom: 0; }
  #team .owl-carousel button.owl-dot {
    background-color: #ffffff;
    width: 8px;
    height: 8px;
    margin: 0 10px;
    border-radius: 4px; }
  #team .owl-carousel button.owl-dot.active {
    background-color: #154166; }

@media screen and (max-width: 1200px) {
  #team {
    background-color: #e2e6e7; }
    #team .team__members .team__item {
      padding-left: 15px;
      padding-right: 15px;
      width: 50%; }
      #team .team__members .team__item img {
        width: 100%;
        justify-content: center; } }

@media screen and (max-width: 820px) {
  #team {
    background-color: #e2e6e7;
    padding: 80px 15px 65px 15px; }
    #team .team__members {
      display: flex;
      justify-content: center; }
      #team .team__members .team__item {
        width: 100%; } }

#contact {
  background-image: linear-gradient(to top, rgba(182, 208, 229, 0), #c6d8e6);
  height: 100%; }
  #contact .connectblock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 67px;
    padding-bottom: 64px;
    max-width: 610px;
    margin: auto;
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.14);
    border: solid 2px #154166;
    background-color: #ffffff;
    position: relative;
    top: 60px; }
    #contact .connectblock h2 {
      font-family: 'MontserratBold',sans-serif;
      font-size: 28px;
      line-height: 36px;
      color: #1d150f; }
    #contact .connectblock p {
      font-family: 'Montserrat',sans-serif;
      font-weight: 500;
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 57px;
      margin-top: 48px;
      text-align: center;
      max-width: 362px; }
    #contact .connectblock .btn {
      width: 289px;
      color: #faf6f3;
      background-color: #154166;
      font-family: 'Montserrat';
      font-weight: bold;
      font-size: 24px;
      line-height: 68px;
      text-decoration: none;
      text-transform: uppercase;
      text-align: center; }
  #contact .adress {
    position: relative;
    top: 77px; }
  #contact h2 {
    font-family: 'MontserratBold',sans-serif;
    font-size: 28px;
    line-height: 36px;
    color: #1d150f; }
  #contact .contact {
    display: flex;
    width: 50%;
    justify-content: space-between;
    margin-top: 36px;
    position: relative; }
    #contact .contact .contact__title {
      margin-bottom: 19px;
      padding-right: 0;
      font-family: PTSans;
      font-size: 18px;
      font-weight: bold;
      font-style: italic;
      color: #6f7a84; }
    #contact .contact p {
      padding-left: 34px;
      color: #0a4065;
      font-family: 'Montserrat',sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 24px;
      max-width: 335px; }
    #contact .contact .contact__mammoth {
      position: relative;
      padding-right: 57px; }
      #contact .contact .contact__mammoth .contact__ad::before {
        content: "\f041";
        left: 0px;
        position: absolute;
        font-family: "FontAwesome";
        font-size: 25px;
        display: block;
        opacity: 0.2; }
      #contact .contact .contact__mammoth .contact__tel::before {
        content: "\f095";
        left: 0px;
        position: absolute;
        font-family: "FontAwesome";
        font-size: 25px;
        display: block;
        opacity: 0.2; }
      #contact .contact .contact__mammoth .contact__mail::before {
        content: "\f0e0";
        left: 0;
        position: absolute;
        font-family: "FontAwesome";
        font-size: 25px;
        display: block;
        opacity: 0.2; }
    #contact .contact .contact__basin {
      position: relative; }
      #contact .contact .contact__basin .contact__ad::before {
        content: "\f041";
        left: 0px;
        position: absolute;
        font-family: "FontAwesome";
        font-size: 25px;
        display: block;
        opacity: 0.2; }
      #contact .contact .contact__basin .contact__tel::before {
        content: "\f095";
        left: 0px;
        position: absolute;
        font-family: "FontAwesome";
        font-size: 25px;
        display: block;
        opacity: 0.2; }

@media screen and (max-width: 1260px) {
  #contact .adress {
    padding-left: 20px; } }

@media screen and (max-width: 1100px) {
  #contact .adress h2 {
    text-align: center; }
  #contact .contact {
    width: 100%;
    justify-content: center; } }

@media screen and (max-width: 600px) {
  #contact .connectblock {
    top: 0;
    border: none; }
  #contact .adress {
    top: 0;
    padding: 72px 29px 68px 50px; }
    #contact .adress h2 {
      text-align: left; }
    #contact .adress .contact {
      flex-direction: column;
      justify-content: center; } }

footer {
  background-image: url("../img/footerbg.png");
  background-size: cover;
  height: 569px;
  background-position: bottom; }
  footer .links {
    padding-top: 241px;
    font-family: 'MontserratBold',sans-serif;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center; }
    footer .links a {
      position: relative;
      display: inline-block;
      padding: 0  42px;
      color: #ffffff;
      text-decoration: none; }
    footer .links a::before {
      content: "\f178   ";
      position: absolute;
      font-family: "FontAwesome";
      font-size: 15px;
      color: #ffffff;
      line-height: 24px;
      left: 18px; }
  footer .copyright {
    margin-top: 187px;
    padding-bottom: 76px;
    text-align: center;
    color: #0d4268;
    font-family: 'PTSans', sans-serif;
    font-size: 14px;
    line-height: 16px; }

@media screen and (max-width: 600px) {
  footer .links {
    padding-top: 215px; }
  footer .copyright {
    font-size: 14px;
    line-height: 16px;
    margin-top: 179px;
    padding: 0 70px 68px 71px; } }
