@mixin maintitles {
	font-family: 'MontserratBold',sans-serif;
	font-size: 28px;
	line-height: 36px;
	color: #1d150f;
} 
@mixin maintext {
	font-family: 'MontserratRegular',sans-serif;
	font-size: 18px;
	line-height: 32px;
	color: #1d150f;
}

*, *::after, *::before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: 	border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.to-top {
	position: fixed;
	z-index: 99;
  right: 29px;
  bottom: 500px;
  display: none;
  width: 43px;
  height: 86px;
  color: #fff;
  font-size: 34px;
  text-align: center;
	line-height: 86px;
	background-image: url(../img/Backtotop.png);
	background-size: cover;
  cursor: pointer;
  opacity: 0.3;
  transition: all 0.3s;
}
.to-top:hover {
  opacity: 1;
}
.to-top--fixed {
  display: inline-block;
}
@media screen and (max-width:576px){
	.to-top {
		bottom: 400px;
	}
}
.container {
	max-width: 1250px;
	margin: 0 auto;
}
.main-head {
	min-height: 960px;
	background-position: 72% 100% !important;
	position: relative;
	&::before {
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		bottom: 0;
		background-image: linear-gradient(to bottom, rgba(29, 21, 15, 0), #1d150f);
		height: 237px;
	}	
	.main {
		display: flex;
		flex-direction: column;
		justify-content: center;
		.menu {
		text-align: center;
		padding-top: 45px;
		padding-bottom: 75px;
		position: relative;
		.menu__icon {
			display: none;
			width: 18px;
			height: 12px;
			position: relative;
			cursor: pointer;
			span {
				display: block;
				position: absolute;
				height: 2px;
				width: 100%;
				background: #ffffff;
				left: 0;
				transform: rotate(0deg);
				transition: .25s ease-in-out;
			}
			span:nth-child(1){
				top: 0px;
			}
			span:nth-child(2){
				top: 5px;
			}
			span:nth-child(4){
				top: 10px;
			}
		}
		.menu__links-item {
			display: inline-block;
			color: #ffffff;
			font-family: 'RaleweyBold',sans-serif;
			font-size: 18px;
			line-height: 21px;
			text-decoration: none;
			text-transform: uppercase;
			padding: 0 20px; 
			margin-top: 41px;
		}
		.menu__links-item:hover {
			color:#e2e6e7;
		}
	}
	.menu_state_open {
		background-color: rgba(0, 0, 0, 0.85);
			.menu__icon {
				width: 14px;
				line-height: 16px;
				span {
					width: 12px;
				}
				span:nth-child(1) {
					width: 0%;				
				}
				span:nth-child(2) {
					transform: rotate(-45deg);
				}
				span:nth-child(3) {
					transform: rotate(45deg);
					top: 5px;
				}
				span:nth-child(4) {
					width: 0%;
				}
			}
			.menu__links {
				display: block;
				.menu__links-item{
					margin-top: 23px;
				}
			}
		 }
		@media screen and (max-width: 740px) {
			.menu__links{
				display: none;
			}
			.menu {
				.menu__icon {
				display: inline-block;
				}		
				.menu__links {
					margin-top: 138px;
					height: 100vh;
					position: absolute;
					top: 0;
					right: 0;
					left: 0;
					background-color: rgba(0, 0, 0, 0.85);
					z-index: 1000;
					overflow: auto;
				}
				.menu__links-item {
					display: block;
					padding: 10px 0;
					text-align: center;
					color: #ffffff;
				}	
			}
		}
	}
}
@media screen and (max-width:980px){
	.main-head {
		min-height: 723px;
	}
}
.headerlogo {
	margin-left: 95px;
	margin-top: 35px;
	margin-bottom: 80px;
	position: relative;
	z-index: 10;
	.headerlogo_logo1 {
		margin-right: 58px;
		width: 100%;
		outline: none;
		img {
			max-width: 100px;
		}
	}
	.headerlogo_logo2 {
		width: 100%;
		outline: none;
		img {
			max-width: 177px;
		}
	}
}
.header_content {
	margin-left: 95px;
	display: block;
	max-width: 503px;
	position: relative;
	z-index: 10;
	h1{
		font-family: 'Montserrat', sans-serif;
		font-weight: 800;
		font-size: 68px;
		line-height: 69px;
		color: #ffffff;
		padding-bottom: 24px;
		letter-spacing: 2.6px;	
	} 
	p {
		margin-right: 39px;
		font-family: 'PT Sans', sans-serif;
		font-size: 20px;
		line-height: 36px;
		color: #ffffff;
	}
}
@media screen and (max-width:1200px){
	.main {
		.headerlogo{
			margin-left: 30px;
		}
		.header_content{
			margin-left: 30px;
		}
	}
}
@media screen and (max-width:980px){
	.main {
		.headerlogo{
			 margin-bottom: 15px;
			 margin-top: 230px;
		}
	}
}
@media screen and (max-width:970px){
	.main {
		.headerlogo{
			.headerlogo_logo1 {
				margin-right: 16px;
				img {
					max-width: 76px;
				}	
			}
			.headerlogo_logo2 {
				img {
					max-width: 128px;	
				}
			}
		}
	}
}
@media screen and (max-width:660px){
	.main {
		.headerlogo{
			margin-left: 15px;
		}
		.header_content{
			margin-left: 15px;
			h1{
				max-width: 60%;
				font-size: 32px;
				line-height: 40px;
				letter-spacing: 1.2px;
			}
		}
	}
}
@media screen and (max-width:535px){
	.main {
		.header_content{
			p {
				font-size: 16px;
				line-height: 24px;
			}
		}
	}
}
#culture {
	background-color: #e2e6e7;
	.culture__ingridients {
		position: relative;
		.culture__bg {
			position: absolute;
			top: 171px;;
			right: 0;
			img {
				width: 500px;
				background-color: #e2e6e7;
			}
		}		
		.culture__content {
			position: relative;
			background: #ffffff;
			top: -160px;
			left: 201px;
			max-width: 824px;
			padding: 60px 77px 92px 77px;
			box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.14);
			h3 {
				font-family: 'PTSens',Arial, Helvetica, sans-serif;
				text-transform: uppercase;
				color: #f6921e;
				font-size: 24px;
				line-height: 29px;
			}
			h2 {
				margin-top: 12px;
				@include maintitles();
			}
			p {
				margin-top: 24px;
				@include maintext();
			}
		}
		@media screen and (max-width:1200px){
			.culture__content {
				left: 50px;
			}
		}
		@media screen and (max-width:680px){
		.culture__content {
			padding: 40px 15px 56px 15px;
		}
		}
	}
	@media screen and (max-width:980px){
		.culture__ingridients{
			.culture__bg{
				display: none;
			}
			.culture__content{
				top:0;
				left: 0;
				max-width: 100%;
			}
		}
	}
}
#vision {
	background-color: #e2e6e7;	
	.culture__video-title{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background: #e2e6e7;
		text-align: center;

		h2 {
			@include maintitles();
			margin-bottom: 28px;
			max-width: 90%;
			
		}
		.video {
			height: 0;
			overflow: hidden;
			padding-bottom: 56.25%;
			position: relative;
			width: 90%;
			iframe {
				height: 100%;
 			  left: 0;
  		  position: absolute;
    		top: 0;
    		width: 100%;
			}
		}
		.culture__video-content {
			max-width: 90%;
			margin-top: 28px;
			margin-bottom: 10px;
			p {
			@include maintext();
			}
		}
	}
	@media screen and (max-width:980px){
		.culture__video-title{
			padding-top: 48px;
		}
	}
}

#stayingwild {
	background-color: #e2e6e7;
	padding-top: 40px;
	padding-bottom: 52px;
	.stayingwild {
		display: flex;
		// flex-wrap: wrap;
		flex-direction: row;
		.stayingwild__photo{
			width: 50%;
			img {
				height: 100%;
				max-width: 100%;
			}
		}
		.stayingwild__content {
			background-color: #ffffff;
			padding: 40px 30px;
			max-width: 50%;
			h3 {
				font-family: 'PTSens', sans-serif;
				text-transform: uppercase;
				color: #f6921e;
				font-size: 24px;
				line-height: 29px;
			}
			h2 {
				margin-top: 12px;
				@include maintitles();
			}
			p {
				margin-top: 24px;
				@include maintext();
			}
		}
	}
	.stayingwild__galary{
			padding-top:30px;
			padding-bottom: 30px;
		.owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next {
			position: absolute;
			top: 50%;
			margin-top: -18px;
			color: #ffffff;
			font-size: 30px;
			outline: none;
		}
		.owl-prev {
			left: 20px;
		}
		.owl-next {
			right: 20px;
		}
	}	
	@media screen and (max-width:980px){
			.stayingwild__galary{
				padding: 14px 15px 30px 15px;
			}
	}
	@media screen and (max-width:600px){
		.stayingwild{
			flex-direction: column;
			justify-content: center;
			.stayingwild__content{
			max-width: 100%;
			}
			.stayingwild__photo {
				width: 100%;
				img {
					display: block;
					width: 100%;
					height: auto;
				}
			}
		}
	}
	
}
#value {
	padding: 76px 0;
	display: flex;
	align-items: stretch;	
	.imagebg {
		max-width: 20%;
		margin-top: 201px;
		margin-left: 193px;
		flex-basis: 30%;
		img {
			max-width: 86px;
		}
	}
	.value__content{
		max-width: 820px;
		padding-left: 201px;
		h2 {
			@include maintitles();
	  }
		p {
			margin-top: 24px;
			@include maintext();
		}
	}
}
@media screen and (max-width:980px){
	#value {
		padding: 56px 50px 80px 48px;
		.imagebg {
			display: none;
		}
		.value__content{
		padding-left: 0;	
		}
	}	
}
.map {
	position: relative;
	.map__title {
		position: absolute;
		z-index: 2;
		top: 109px;
		left: 95px;
			h1{
				@include maintitles();
				text-transform: uppercase;
			}
		@media screen and (max-width:1010px){
			top: 48px;
			left: 13px;
		}	
	}
}
#map {
	position: relative;
	z-index: 0;
	width: 100%;
	height: 800px;
	@media screen and (max-width:1010px){
		height: 700px;
	}
	@media screen and (max-width:700px){
		height: 726px;
	}
	.gm-style-iw-a {
		left: 250px !important;
		top: 450px !important;
		@media screen and (max-width:1010px){
		left: 0 !important;
		top: 400px !important;
		}
		@media screen and (max-width:700px){
		left: 0 !important;
		top: 480px !important;
		}
	}
	.gm-style .gm-style-iw-t::after {
		display: none;
	}
	.gm-style .gm-style-iw-t::before {
		content: "";
		background-image: url(../img/bitmap.png);
		background-size: 160px 160px;
		width: 160px;
		height: 160px;
		background-repeat: no-repeat; 
		position: absolute;
		z-index:99999;
		top: -588px;
		left: -80px;
		@media screen and (max-width:1010px){
			top: -528px;	
			}
		@media screen and (max-width:700px){
		top: -588px;	
		}
	}
	.gm-style .gm-style-iw-c {
		height: 508px;
		width: 504px;
		padding-left: 40px;
		padding-top: 0px;
		border-radius: 0;
		box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.14);
	 	border: solid 2px #154166;
		background-color: #ffffff;
		z-index: 10;
		@media screen and (max-width:1010px){
		width: 700px;
		height: 508px;
			}
		@media screen and (max-width:700px){
		padding-left: 15px;
		min-width: 375px;
		max-height: 508px !important;	
		}
		@media screen and (max-width:374px){
			min-width: 320px;
			}
		&::before{
			content: "";
			background-image: url(../img/selectedIcon.png);
			background-size: cover	;
			width: 30px;
			height: 42px;
			background-repeat: no-repeat; 
			position: absolute;
			top: 23px;
		}
		button {
		  top: 25px !important;
		  right: 25px !important;
		  width: 21px !important;
	    height: 21px !important;
		}  
	}
	.gm-style .gm-style-iw-d {
		margin-right: 40px;
		overflow: hidden !important;
		@media screen and (max-width:580px){
		margin-right: 15px;
		max-width: 100% !important;		
		}
		.content {
			position: relative;			
	  	.map__info-content {
				h2 {
					font-size: 24px;
					font-family: 'PTSans',sans-serif;
					color: #f6921e;
					text-transform: uppercase;
					padding-top: 104px;
					padding-bottom: 12px;
					text-align: center;
				}
				h1 {
					@include maintitles();
					padding-bottom: 20px;
					text-align: center;
				}
				p {
					font-family:'Montserrat',sans-serif;
					font-size: 16px;
					line-height: 20px;
					color: #000000;
					padding-bottom: 20px;
				}
			}
		} 
	}
}    	 


#team {               
	background-color: #ffffff;
	padding-top: 120px;
	.team__members {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		align-items: stretch;
		.team__item{
			.team__item-title {
				display: flex;
				justify-content: space-between;
				.title {
					width: 50%;
					color: #1d150f;
					font-size: 24px;
					font-family: 'MontserratSemiBold', sans-serif;
					margin-top: 22px;
					line-height: 29px;
					p {
						margin-top: 12px;
						text-transform: uppercase;
						font-family: 'PT Sans', sans-serif;
						font-size: 16px;
						line-height: 20px;
						color: #6f7a84;
					}
				}
				.team__locate {
					max-width: 133px;
					position: relative;
					margin-top: 27px;
					color: #f6921e;
					font-family: 'PTSensItalic';
					font-style: italic; 
					font-size: 18px;
					line-height: 23px;
					padding-left: 35px;				
				}
				.team__locate ::before{
					content: "\f041";
					position: absolute;
					font-family: "FontAwesome";
					font-size: 35px;
					font-style: normal;	
					display: block;
					line-height: 46px;
					left: 0px;
				}
			}
			.team__form {
				margin-top: 24px;
				padding-left: 21px;
				h4 {
					columns: #322d28;
					font-family: 'PT Sans',sans-serif;
					font-weight: bold;
					font-size: 16px;
					line-height: 20px;
					span {
						font-weight: 400;
					}
				}
			}
			.team__goto {
				margin-top: 23px;
				padding-left: 21px;
				h4 {
					columns: #322d28;
					font-family: 'PT Sans',sans-serif;
					font-weight: bold;
					font-size: 16px;
					line-height: 20px;
				}
				p {
					columns: #322d28;
					font-family: 'PT Sans',sans-serif;
					font-size: 16px;
					line-height: 20px;
				}
			}
			.team__notatwork {
				margin-top: 18px;
				max-width: 61%;
				padding-left: 21px;
				margin-bottom: 117px;
				h4 {
					columns: #322d28;
					font-family: 'PT Sans',sans-serif;
					font-weight: bold;
					font-size: 16px;
					line-height: 20px;
				}
				p {
					columns: #322d28;
					font-family: 'PT Sans',sans-serif;
					font-size: 16px;
					line-height: 20px;
				}
			}
		}
	}
	.owl-carousel.off {
		display: flex;
	}
	.owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next{
    position: absolute;
    margin-top: 0;
    color: #154166;
		font-size: 12px;
		line-height: 40px;
		width: 40px;
		border-radius: 20px;
		background-color: rgba(255, 255, 255, 0.2);
		bottom: -15px;
		outline: none;
  }
	.owl-prev {
    left: 45px;
	}
	.owl-next {
    right: 45px;
	}
	.owl-dots {
		position: absolute;
		bottom: 0;
	}
	.owl-carousel button.owl-dot {
    background-color: #ffffff;
		width: 8px;
    height: 8px;
		margin: 0 10px;
		border-radius: 4px;
	}
	.owl-carousel button.owl-dot.active{
		background-color:  #154166;
	}
}
@media screen and (max-width: 1200px) {
	#team {
		background-color: #e2e6e7;	
		.team__members {
			.team__item{
				padding-left: 15px;
				padding-right: 15px;
				width: 50%;
				img {
					width: 100%;
					justify-content: center;
				}	
			}
		}
	}
}
@media screen and (max-width: 820px) {
	#team {
		background-color: #e2e6e7;
		padding: 80px 15px 65px 15px;
		.team__members {
			display: flex;
			justify-content: center;
		.team__item{
			width: 100%;
		}
		}
	}
}
#contact {
	background-image: linear-gradient(to top, rgba(182, 208, 229, 0), #c6d8e6);
	height: 100%;	
	.connectblock {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding-top: 67px;
		padding-bottom: 64px;
		max-width: 610px;
		margin: auto;
		box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.14);
 	 	border: solid 2px #154166;
		background-color: #ffffff;
		position: relative;
		top: 60px;
		h2 {
			@include maintitles();
		}
		p {
			font-family: 'Montserrat',sans-serif;
			font-weight: 500;
			font-size: 18px;
			line-height: 24px;
			margin-bottom: 57px;
			margin-top: 48px;
			text-align: center;
			max-width: 362px;
		}
		.btn {
			width: 285px;
			color:	#faf6f3;
			background-color: #154166;
			font-family: 'Montserrat';
			font-weight: bold;
			font-size: 24px;
			line-height: 68px;
			text-decoration: none;
			text-transform: uppercase;
			text-align: center;
			border: solid 2px #154166;
			cursor: pointer;
			&:hover {
				box-shadow: 0 0 20px rgba(0,0,0,0.5);
				border-radius: 20px;
				border: solid 2px #154166;
				color: #154166;
				background-color: #c6d8e6;
			}
		}
	}
	.adress {
		position: relative;
		top:77px;
	}
	h2{
		@include maintitles();
	}
	.contact {
		display: flex;
		width: 50%;
		justify-content: space-between;
		margin-top: 36px;
		position: relative;
		.contact__title {
			margin-bottom: 19px;
			padding-right: 0;
			font-family: PTSans;
			font-size: 18px;
			font-weight: bold;
			font-style: italic;
			color: #6f7a84;
		}
		p {
			padding-left: 34px;
			color: #0a4065;
			font-family: 'Montserrat',sans-serif;
			font-weight: 500;
			font-size: 16px;
			line-height: 24px;
			margin-bottom: 24px;
			max-width: 335px;
			@media screen and (max-width:375px){
				font-size: 13px;	
			}
		}	
		.contact__mammoth {
			position: relative;
			padding-right: 57px;
			.contact__ad::before{
				content: "\f041";
				left: 0px;
				position: absolute;
				font-family: "FontAwesome";
				font-size: 25px;
				display: block;
				opacity: 0.2;
			}
			.contact__tel::before{
				content: "\f095";
				left: 0px;
				position: absolute;
				font-family: "FontAwesome";
				font-size: 25px;
				display: block;
				opacity: 0.2;
			}
			.contact__mail::before{
				content: "\f0e0";
				left: 0;
				position: absolute;
				font-family: "FontAwesome";
				font-size: 25px;
				display: block;
				opacity: 0.2;
			}	
		}
		.contact__basin {
			position: relative;
			.contact__ad::before{
				content: "\f041";
				left: 0px;
				position: absolute;
				font-family: "FontAwesome";
				font-size: 25px;
				display: block;
				opacity: 0.2;
			}
			.contact__tel::before{
				content: "\f095";
				left: 0px;
				position: absolute;
				font-family: "FontAwesome";
				font-size: 25px;
				display: block;
				opacity: 0.2;
			}
		}
	}
}
@media screen and (max-width: 1260px){
	#contact {
		.adress {
			padding-left: 20px;
		}
	}
}
@media screen and (max-width: 1100px){
	#contact {
		.adress {
			h2{
				text-align: center;
			}
		}
		.contact {
			width: 100%;
			justify-content: center;
		}
	}
}
@media screen and (max-width: 600px){
	#contact {
		.connectblock{
			top:0;
			border: none;
		}
		.adress {
			top: 0;
			padding: 72px 29px 68px 50px;
			h2{
				text-align: left;
			}
			.contact {
				flex-direction: column;
				justify-content: center;
		
			}
		}
		
	}
}
footer {
	background-image: url("../img/footerbg.png");
	background-size: cover;
	height: 569px;	
	background-position: bottom;
	.links {
		padding-top: 241px;
		font-family: 'MontserratBold',sans-serif;
		font-size: 18px;
		line-height: 24px;
		text-transform: uppercase;
		text-align: center;
		@media screen and (max-width:375px){
			font-size: 15px;
		}
		a {
			position: relative;
			display: inline-block;
			padding:0  42px;
			color: #ffffff;
			text-decoration: none;
		}
		a::before {
			content: "\f178   ";
			position: absolute;
			font-family: "FontAwesome";
			font-size: 15px;
			color: #ffffff;
			line-height: 24px;
			left:18px;
		}
	}
	.copyright {
		margin-top: 187px;
		padding-bottom: 76px;
		text-align: center;
		color: #0d4268;
		font-family: 'PTSans', sans-serif;
		font-size: 14px;
		line-height: 16px;
	}
}
@media screen and (max-width:600px){
footer{
	.links{
		padding-top: 215px;			
	}
	.copyright {
		font-size: 14px;
		line-height: 16px;
		margin-top: 179px;
		padding: 0 70px 68px 71px;
	}
}
}